<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Insert Todays data</title>
    </head>
    <body>
        <form action="/insertTodayR" method="POST">
            <div>
                <label for="title">Title</label>
                <label type="text" id="title" name="title">Title</label>
            </div>
            <div>
                <label for="content">Content</label>
                <textarea name="content" id="content">Title</textarea>
            </div>
            <div>
                <button>Submit</button>
            </div>
        </form>
    </body>
</html>
